[2013-09-30 19:12] ekfriis opened #1 "Make sure everyone can compile"
@tsarangi @dabelknap @nwoods

Please make sure you can compile the as described in the README

[2013-09-30 19:16] ekfriis opened #2 "Build XML uHAL memory map for oRSC FE"
We need to make the corresponding memory map XML to the CTP example [1] for the oRSC. Here is the relevant oRSC FE HDL from Matthias:

[code]

means that a register that drives the LED green is at address 0x10008000.

[code]

[1] https://svnweb.cern.ch/trac/cactus/browser/trunk/cactuscore/softipbus/etc/ctp6_fe.xml

[2013-09-30 19:38] ekfriis opened #3 "Make sure we can compile everything at 904"
We may need to install Petalinux, Xilinx, etc.

[2013-09-30 19:52] ekfriis opened #4 "Ensure we can read out link status from the CTP6 FE at Chamberlin"
You need to:
1. Compile the softipbus TCP server for Petalinux.  See the README here [1] for details.
2. Upload the softipbus-forward server to /tmp on the CTP6 backend.  Get the appropriate IP address and ssh password (user is root) from Jes.
3. SSH and run /tmp/soft-ipbus on the BE (leave it running)
4. Compile ctp6_fe_uart_ipbus and upload it (`make upload` in its directory)
5. Use ctp6commande

[2013-09-30 19:54] ekfriis opened #5 "Update oRSC HW XMLs and BSPs"
We need to update the oRSC XMLs and BSPs to whatever the latest development is from Mathias.

[2013-09-30 19:56] ekfriis opened #6 "Validate oRSC SPI functionality"
The `orsc_(fe|be)_spi_echo_test`s should be able to do this.  We first need to update the oRSC BSPs and HW xmls - see #5.

I'm not sure if the oRSC FE firmware has the SPI already in it, we need to double check with Mathias.

[2013-09-30 19:57] ekfriis opened #7 "Put VMEStream in cms-calo-layer1 package"
I don't think there is a need for it to be in a separate repo, since it will never be used outside the context of the oRSC.  We can move it to a subdirectory in cms-calo-layer1, like spistream [1]

[1] https://github.com/uwcms/cms-calo-layer1/tree/master/spistream

[2013-09-30 20:00] ekfriis opened #8 "Write orsc_fe_vmestream_echo_test and validate VMEStream"
cc @dabelknap

This should sit on the oRSC FE, read a stream via VMEStream and echo it back.  Will allow validation of VMEStream.

[2013-09-30 20:02] ekfriis opened #9 "Write oRSC BE VMEStream -> SPIStream code"
This standalone package should live on the oRSC backend, receive data over VMEstream and forward it via SPIStream to the backend.

Will be 1/2 based on the validation code in #8, and half on orsc_be_spi_echo_test.

[2013-09-30 20:04] ekfriis commented on #5
@tsarangi do you know when Mathias is coming back?  do you think you could gently ask him if he already has these handy?

[2013-09-30 20:06] tsarangi commented on #5
Don't know when he is coming back. I had sent an email to him about other thing and still waiting for a response. May be you should give a try this time ;-)

[2013-09-30 20:09] ekfriis commented on #4
Jes is working on getting the JTAG XMD going for step 4, the IP address to ssh to BE is `ssh root@192.168.1.31`

[2013-10-01 12:07] ekfriis commented on #5
I started documenting how to do this using the GUI at https://github.com/uwcms/cms-calo-layer1/wiki/UsingXilinxGUI

Still need an actual updated HW XML from Mathias.

[2013-10-01 12:35] ekfriis commented on #5
Mathias reports the Microblaze part of the bitfile has not changed, so the HW XML does not change and this task is not necessary.

[2013-10-01 12:35] #5 closed, assigned to tsarangi

[2013-10-01 16:37] ekfriis commented on #1
Hi all, can I close this?  Have you compiled everything successfully?

[2013-10-01 16:38] ekfriis commented on #7
Hi @dabelknap not Nate,

I meant to ask you to do this - I think it is easiest to just put VMEStream as a subdirectory into this package, since things in here will depend on it, but nothing else will.

Evan

[2013-10-01 16:38] ekfriis commented on #7
(I would just merge caen into master and then transfer it over here).

[2013-10-01 16:39] nwoods commented on #1
It worked for me.

[2013-10-01 16:39] dabelknap commented on #7
How do you want to do this? Should I add it as a submodule, or merge it with `git subtree`?

[2013-10-01 16:41] dabelknap commented on #1
What machine do I need to be on for this to work?

[2013-10-01 16:42] tsarangi commented on #1
I could compile it yesterday. Haven't tried today if anything has changed... @dabelknap, I compiled it on ayinger.hep.wisc.edu

[2013-10-01 16:42] ekfriis commented on #7
Subtree

On Tue, Oct 1, 2013 at 6:39 PM, Austin Belknap notifications@github.comwrote:

[2013-10-01 16:47] dabelknap commented on #1
Works for me.

[2013-10-01 16:48] ekfriis commented on #1
woo, the first task is done!

[2013-10-01 16:48] #1 closed, assigned to nwoods

[2013-10-01 17:06] ekfriis opened #10 "Test SPIStream via oRSC inter-FPGA echo test"
Should be doable with `orsc_fe_spi_echo_test` and `orsc_be_spi_echo_test`.

How to get the FPGAs to configure, with XMD:

[code]

More XMD stuff to follow.

[2013-10-01 17:09] #7 closed, assigned to dabelknap

[2013-10-01 17:34] tsarangi commented on #10
just using the `rst` command inside the `xmd` command prompt doesn't work. Shouldn't it need a target ? or it goes to a default one ! May be this time it crashes because there isn't nothing connected !

[2013-10-02 09:39] ekfriis opened #12 "caen::write() does not do what we think"
It is only used for writing a single word.  We need to implement something which calls the block write [1], and update all calls to read/write.

Also, OrscEmulator [2] does not emulate the behavior or read/write correctly and should be changed (which will break the tests).

[code]

[1] http://jazz.physik.unibas.ch/~tikorost/work/TAPSelectronics/Software/vmelib/CAENVMElib.h
[2] https://github.com/u

[2013-10-02 13:53] ekfriis commented on #8
For reference from Mathias:

[code]

[2013-10-02 13:55] dabelknap commented on #8
Ah, okay. `uint16_t` for the addresses, then?

[2013-10-02 14:13] ekfriis commented on #8
I am not sure - that address range just refers to the size of the RAMS.  i.e. there is a RAM at 0x0000, and it's size is 2048 words (almost positive they are words).

[2013-10-02 14:37] dabelknap commented on #8
I mean, the addresses themselves are 16-bit. Otherwise it would be 0x00000000 - 0x000007FF instead, right?

[2013-10-02 14:41] ekfriis commented on #8
They definitely fit in 16bit, but they may be 32bit.  You should ask Mathias.

[2013-10-02 17:32] nwoods commented on #4
I must be missing something obvious here -- the first step says to compile with make but... compile what? Where? It looks like the cactuscore-uhal packages are already installed by Yum, but I can't find anything on Ayinger that looks like TCP or SoftIPBus, so I don't even know where to find the makefile.

[2013-10-02 21:30] nwoods commented on #4
Also, how do I get the Xilinx Petalinux SDK? AFAIK it's not installed on Ayinger.

[2013-10-03 05:39] ekfriis commented on #4
You want to run make in the softipbus package, which is on SVN

svn co svn+ssh://svn.cern.ch/reps/cactus/trunk/cactuscore/softipbus$HOME/trigger_code/softipbus

Check out environment.sh in cms-calo-layer1 for setting up the petalinux
SDK.

Evan

On Wed, Oct 2, 2013 at 11:30 PM, nwoods notifications@github.com wrote:

[2013-10-03 12:44] dabelknap commented on #12
See PR #14

[2013-10-03 13:03] ekfriis commented on #12
Awesome.  I have a PR with an improved test of vme2fd coming, I will merge
the two.

On Thu, Oct 3, 2013 at 2:44 PM, Austin Belknap notifications@github.comwrote:

[2013-10-03 13:17] #12 closed, assigned to dabelknap

[2013-10-03 15:18] ekfriis commented on #9
Hi @dabelknap, can you try to do this?  It should live in `orsc_be_ipbus` and the first version should be similar to #8 and orsc_be_spi_echo_test, except instead of echoing like #8 you connect the VMEstream receive cbuffer to the SPIStream transmit cbuffer, and vice versa.

[2013-10-03 17:30] nwoods commented on #4
Any time I try to scp onto or off of the CTP6 is fails with the message

sh: scp: Input/output error

I'll bug Jes about it after my afternoon class, but if you have any ideas in the mean time I'd love to hear them.

Nate

[2013-10-03 17:35] ekfriis commented on #4
Can you ssh into it?  Are you scp into /tmp?

On Thu, Oct 3, 2013 at 7:30 PM, nwoods notifications@github.com wrote:

[2013-10-03 17:39] nwoods commented on #4
ssh works fine. I can't scp into /tmp or into ~

[2013-10-03 17:42] ekfriis commented on #4
If you ssh in, can you "touch /tmp/test_creation"

On Thu, Oct 3, 2013 at 7:39 PM, nwoods notifications@github.com wrote:

[2013-10-03 17:58] nwoods commented on #4
Yep, already tried that (it works)... I probably need to ask Jes.
On Oct 3, 2013 12:42 PM, "Evan K. Friis" notifications@github.com wrote:

[2013-10-03 20:33] nwoods commented on #4
So fun story: the CTP6 apparently committed circuit board seppuku and corrupted its own root directory. Jes is reflashing Petalinux and with any luck we'll be back in business in a few minutes.

We should probably look into this carefully, though. Jes says that there's almost nothing a person could have done to cause this, so it was probably a board error and we had better make sure it's not going

[2013-10-03 21:47] nwoods commented on #4
I got softipbus and softipbus-forward successfully uploaded onto the CTP6, but neither one will run. I get the following errors (in which I am replacing unreadable characters with 'X'):

[code]

Running `make` with $PETALINUX defined causes the compiler to exit prematurely and tell me that I can only run `make unittest` (which does not fix the problem), so I tried again without it, uploaded it, an

[2013-10-04 08:21] ekfriis commented on #4
For it to work on the CTP6, PETALINUX definitely has to be set. The CTP6 has a different architecture than ayinger/your PC so you need to use the special GCC binary from petalinux to "cross-compile" it correctly - otherwise you will expect errors like your second one.  The reason for the "error" reported at the end is because since you have cross-compiled to the MB arch you can't run the binaries

[2013-10-04 11:44] dabelknap commented on #9
In other words, I use `orsc_fe_spi_echo_test/src/spiecho.c` and `orsc_be_vmestream_echo_test/src/vmestream_echo.c` as starting points, and place the result in `orsc_be_ipbus`. Call it `vme2spi.c`, or something simliar. Sound right?

[2013-10-04 12:12] ekfriis commented on #9
Exactly!

On Fri, Oct 4, 2013 at 1:44 PM, Austin Belknap notifications@github.comwrote:

[2013-10-04 13:52] dabelknap commented on #9
How exactly is a SPI transfer triggered? I don't see any "transfer" calls made in the loop: https://github.com/uwcms/cms-calo-layer1/blob/master/orsc_be_spi_echo_test/src/spiecho.c#L122

[2013-10-04 16:50] nwoods commented on #4
OK, I'm working on UCT energy sum rates and efficiencies in the hope of having them for the JETMET talk on Tuesday. @jtikalsky, could you let me know when you figure this out? Thanks!

[2013-10-07 08:27] dabelknap commented on #9
Okay, so data is transferred automatically in/out of the SPIStream buffers without explicit calls (https://github.com/dabelknap/cms-calo-layer1/tree/master/spistream/README.md), correct?

[2013-10-07 08:32] ekfriis commented on #9
Yes, it is "interrupt driven" - however, there may be an error in how it is
setup, since it is untested.

Checkout uart_echo_test for a working example of interrupt handling (for a
different device type).

On Mon, Oct 7, 2013 at 10:27 AM, Austin Belknap notifications@github.comwrote:

[2013-10-07 21:02] jtikalsky commented on #4
@nwoods, @ekfriis has the right idea, I'm betting.  You cannot use this petalinux installation for your work at this time, as it is being used for a build for the ZC702 board.  You will need to set up a separate environment to do your builds in, or risk this problem recurring frequently even if I do switch modes back for you right now.

@ekfriis, I believe you did something like this at CERN for y

[2013-10-07 21:04] jtikalsky commented on #4
So testing Zen mode is interesting

[code]

[code]

[2013-10-08 15:22] ekfriis commented on #4
Hi @jtikalsky,

I found an old makefile where I manually pick out the GCC binary from the petalinux folder:

https://github.com/uwcms/soft-ipbus/blob/68ddc9bd2b89c181c460b61df39902bf3b2e7335/Makefile.petalinux#L14

Hopefully @nwoods will find it useful.  In any case, can we just have a separate PETALINUX directory with the CTP6?  I think this would be easiest.

[2013-10-08 22:25] nwoods commented on #4
I got ipbus and ipbus-forward running on the CTP6 (I think -- they both just sit silently until killed), and I was able, after some effort, to get ctp6_fe_uart_ipbus compiled. At the end of the compilation, it gives an error, saying that the CTP cable is not connected:

[code]

Since I can ssh into the CTP6, this seems unlikely. Any idea what this could be?

[2013-10-09 06:32] ekfriis commented on #4
Are you on Ayinger?
The SSH connection goes over the ethernet netwrok, and is different than
the JTAG - the JTAG is a USB dongle thing which plugs directly into the
board and lets you do fancy HW stuff.

Look and see if a red JTAG programmer is plugged into Ayinger and into the
CTP6.  If not ask Jes/Tom to show you how to connect. Sometime the driver
gets roached/wedged as Tom/Jes would say, suppo

[2013-10-09 16:41] nwoods commented on #4
I'm about 80% sure that I was just able to compile ctp6_fe_uart_ipbus and upload it. The 20% uncertainty comes from the fact that I actually built and uploaded something called `payload.elf`, but as far as I could tell from the makefile, this is the correct thing.

I can't finish putting all the pieces together now, though, because the card's TCP connection seems to be down. I told @jtikalsky and

[2013-10-09 16:56] ekfriis commented on #4
Yes, take back your 20% - before each binary (.elf) had a different name, I
made them all build to payload.elf now to make transporting xmd commands a
bit easier.

On Wed, Oct 9, 2013 at 6:41 PM, nwoods notifications@github.com wrote:

[2013-10-10 21:47] nwoods commented on #4
Progress: `ctp6_fe_uart_ipbus/payload.elf` will `make upload` without
complaining, and both `softipbus` and `softipbus-forward` will run on the
CTP6 without giving error messages.

I'm close to get ctp6commander working. I can't source the custom version
of Python because Ayinger can't see cvmfs. Jes tells me that we might be
able to get cvmfs on Ayinger but if there's another way to get it "witho

[2013-10-10 21:48] jtikalsky commented on #4
What is special about this version?

On 10/10/2013 04:47 PM, nwoods wrote:

[2013-10-10 21:51] nwoods commented on #4
I have no idea, but it seems that it's the only one that will run
https://github.com/uwcms/ctp6commander correctly. (See the readme at that
link).

On Thu, Oct 10, 2013 at 4:48 PM, jtikalsky notifications@github.com wrote:

[2013-10-11 07:52] ekfriis commented on #4
The default version of python is 2.4, which was not compatible with the
dependencies, which is why I used the CVMFS version.

However, there _is_ a 2.6 version installed on ayinger.

I just pushed ac8ffe559698ba5960f93b165bd0d06911ac3b26, which make
setup_venv.sh work out of the box on ayinger (and have removed the obsolete
CVMFS instruction from the README).

BTW Nate, the code in ctp6commander i

[2013-10-11 09:48] dabelknap opened #18 "oRSC Back-End Doesn't Reach "main()""
This problem was discovered in an attempt to run `orsc_be_vmestream_echo_test` on the oRSC BE (Issue #8).

The software was loaded onto the oRSC BE using the following steps (assuming everything is compiled):

[code]

There is a `xil_printf` statement just after the start of `main()` (https://github.com/uwcms/cms-calo-layer1/blob/master/orsc_be_vmestream_echo_test/src/vmestream_echo.c#L27), and it

[2013-10-11 11:23] ekfriis commented on #18
My first guess is that this is symptomatic of the compiler linker script "ldscript.ld" being confused about the correct locations of where it is okay to store the program in the device memory. In #19 I regenerated the linker script which seems to have changed things, perhaps it will fix this problem.

[2013-10-11 17:02] nwoods commented on #4
Since Evan told me how to make xmd talk to the correct FPGA it's not
crashing any more, but nothing I try to do with xmd is working, saying that
the processor is stalled. Here's the command and error message:

[code]

This may be something obvious that I don't know because I'm still new to
this. Jes, will you be around after lunch to take a look?

On Fri, Oct 11, 2013 at 2:52 AM, Evan K. Friis not

[2013-10-11 17:09] ekfriis commented on #4
Try typing "rst" to reset it.  Then "dow" the program again, then "run" it

On Fri, Oct 11, 2013 at 7:02 PM, nwoods notifications@github.com wrote:

[2013-10-11 17:19] nwoods commented on #4
rst worked, and it looks like it's downloading and running successfully. I upgraded ctp6commander but now when I `./setup_venv.sh` I get the following (presumably python version-related?) error:

[code]

[2013-10-11 18:54] nwoods commented on #4
I was able to fix the python issue by editing `virtualenv.py` to ignore the stupid exception it was throwing (it even has a FIXME comment in it about this...). Now when I try to run `cli.py`, it fails with the error

[code]

[2013-10-11 19:06] ekfriis commented on #4
Have you executed the "source environment.sh" from cms-calo-layer1?

On Fri, Oct 11, 2013 at 8:54 PM, nwoods notifications@github.com wrote:

[2013-10-11 19:11] nwoods commented on #4
Yes.

On Fri, Oct 11, 2013 at 2:06 PM, Evan K. Friis notifications@github.comwrote:

[2013-10-11 19:18] ekfriis commented on #4
Crap, it seems the cactus repo is compiled against the python 2.4 version
that is default on the system.  Ask Jes if she knows a way to make the
default python version the 2.6 on the machine (or for you) then recompile
the stuff in ../cactus/trunk

On Fri, Oct 11, 2013 at 9:11 PM, nwoods notifications@github.com wrote:

[2013-10-11 22:24] jtikalsky commented on #4
In case of confusion, I believe @nwoods and I fixed this earlier.  It
was a case of the env/ directory in the ctp6commander needing to be
cleaned up, regenerated with your new code, and then the other stuff
recompiled, @ekfriis

On 10/11/2013 02:18 PM, Evan K. Friis wrote:

[2013-10-11 22:42] nwoods commented on #4
@ekfriis, I think at this point the only thing left is to run cli.py. It's not crashing because of Python any more, but it wants inputs that I don't know how to give it. Specifically, links and connections.

Do I understand right that the connections are in the form of an xml file? Does one exist, or do I need to make one based on the examples in the uhal code? If a connection is not specified, cl

[2013-10-12 04:27] ekfriis commented on #4
The port is defined int he xml connect.  See softipbus/etc/ctp6_fe.xml for
on which should work for the CTP6.  (This xml should be moved to
ctp6commander/)

Evan

On Sat, Oct 12, 2013 at 12:42 AM, nwoods notifications@github.com wrote:

[2013-10-12 15:12] dabelknap commented on #18
PR #19 fixed this: the program can now enter `main()`

[2013-10-12 15:12] #18 closed, assigned to nobody

[2013-10-13 07:40] nwoods commented on #4
OK, I've got cli.py running after fixing a few bugs in it and api.py, but it's definitely not doing what I want it to.

First, I haven't figured out how to correctly specify the specific links I want to test. Right now I'm running over all the links with the command

[code]

and it runs, but if I try to specify the links it gives me the error message

[code]

I think I just don't know the correct

[2013-10-13 07:48] ekfriis commented on #4
I think you want ctp6_fe.xml, not connections.xml (feel free to delete the
old one).

That loop is defintely wrong, it is always iterating over an empty
dictionary.

What error does it throw?  Can you paste the whole traceback?

Maybe you should give it a shot w/ the original program in
softipbus/scripts and see if you can make that work - then figure out how
to fix this one by looking at the diff

[2013-10-14 12:21] ekfriis opened #20 "Ensure we can read out link status from the CTP6 FE at 904"
This is the analog of @nwoods 's task in #4, but should be done by @dabelknap at Previssin 904.

Austin, please give it a shot!  We need to figure out exactly what bitfiles we need to load onto the FPGAs - see my out-of-band mail to Tom & Mathias.

[2013-10-14 12:22] ekfriis commented on #3
@dabelknap, can you try compiling things on l1ts-rct-01?  You need to bounce through cms904usr to get there. Probably you need to checkout from github while on cms904usr, l1ts-rct-01 is not connected to the net.

[2013-10-14 12:24] ekfriis commented on #20
This may be helpful:

[2013-10-14 12:24] ekfriis commented on #20
https://twiki.cern.ch/twiki/bin/view/CMS/ORSCCTP6Integration

[2013-10-14 12:42] ekfriis commented on #4
@nwoods

cc @dabelknap @jtikalsky

Hi, we are now working on this same task at 904.  @nwoods, can you send us the modifications to the makefile to make it work?  @jtikalsky is there a simple way to build the petalinux config for microblaze so the "correct" way of building works as well?

[2013-10-14 12:46] ekfriis commented on #4
Also, what do I need for a liscense ?

[cc @dabelknap]

[2013-10-14 12:52] ekfriis commented on #4
@nwoods

Sorry, I steered you wrong when I said you did not need `ctp6_connections.xml`.  That **is** the correct file to use.

Evan

[2013-10-14 13:05] ekfriis commented on #4
@nwoods you can disregard my request for your modifications, I figured it out. I've put the Makefile workarounds into the SVN version of softipbus, see this revision [1].  It should work out of the box at 904 and Chamberlin now.

[1] https://svnweb.cern.ch/trac/cactus/changeset?old=23716%40trunk%2Fcactuscore%2Fsoftipbus%2FMakefile&new=23716%40trunk%2Fcactuscore%2Fsoftipbus%2FMakefile

[2013-10-14 13:23] ekfriis commented on #4
PS @nwoods, I found this twiki that I wrote and forgot about:

https://twiki.cern.ch/twiki/bin/view/CMS/ORSCCTP6Integration#Running_the_monitor

It might be helpful, @dabelknap  and I are updating it to fix things that have changed as we go.

[2013-10-14 13:36] ekfriis opened #21 "/opt/AMC13/ecad_activate_amc13.sh needs python 2.6 at 904"
I think it got killed by a Quattor update.  I can't find it with yum in SLC - I'll keep looking, but any tips are appreciated @jtikalsky

[2013-10-14 13:37] ekfriis commented on #21
For the record, here is the error I get:

[code]

[2013-10-14 13:54] dabelknap commented on #20
I am able to compile `softipbus` and `cms-calo-layer1`. Just need to get the debugger plugged into the CTP6.

[2013-10-14 13:59] dabelknap commented on #3
`softipbus` and `cms-calo-level1` compile. Is that all we need for this issue?

[2013-10-14 14:42] ekfriis commented on #3
Yes :)

[2013-10-14 14:42] #3 closed, assigned to dabelknap

[2013-10-14 18:12] nwoods commented on #20
Are you guys using the stock cli.py script from ctp6commander? I'm trying
to debug it based on trigger_code/softipbus/scripts/ctp6 now.

On Mon, Oct 14, 2013 at 8:54 AM, Austin Belknap notifications@github.comwrote:

[2013-10-14 18:17] ekfriis commented on #20
We are not yet at that stage - any of your findings before we start are
helpful.

On Mon, Oct 14, 2013 at 8:12 PM, nwoods notifications@github.com wrote:

[2013-10-14 19:21] nwoods commented on #4
I fixed the biggest few bugs in ctp6commander cli.py and api.py, and it
gets a lot further now than before. Now it fails at the line
`hw.dispatch()` (where `hw` is `ctp6.frontend`) with the message

[code]

Every time this happens, the terminal running `softipbus-forward` is
updated with the message `channel 3: open failed: connect failed:`

[code]

Just for fun, I tried doing this with `softipbus

[2013-10-14 19:26] ekfriis commented on #4
Did the non-forward version segfault immediately, or when you tried to run
the cli.py?  If you

Can you send a PR to ctp6commander with your fixes?

One idea - set the LOG_LEVEL to be 3 when you compile softibpus-forward for
the backend, then it should print some more info to the console.  Also, if
you add "-vvv" to your ssh command which sets up the forwarding (via the -L
option), it should print

[2013-10-14 21:41] nwoods commented on #4
Pull request made. I fixed a number of bugs and added the necessary xml
files to the ctp6commander root directory (env/bin/activate will set
`$CTP6_CONNECTION` if you run `setup_venv.sh` fresh. If you aren't planning
to, just run the relevant 3 lines from it by hand once).

`softipbus` non-forward segfaulted only when `cli.py` was run.

I'll try your suggestions and see if I can at least get some

[2013-10-14 21:59] nwoods commented on #4
Setting the log level to 3 does not appear to change `softipbus`'s output.

On Mon, Oct 14, 2013 at 4:41 PM, Nate Woods nwoods@hep.wisc.edu wrote:

[2013-10-14 22:04] nwoods commented on #4
Maybe the -vvv option on ssh gets us somewhere. When I did that, the error message became

[code]

I don't know what that means, but I'm sure someone does...

I connected to the CTP with the command

[code]

[2013-10-15 05:50] ekfriis commented on #4
Did you make clean and re-make after changing the LOG_LEVEL?

Also, can you check in the makefile tha 60002 is the correct port for
softipbus-forward?

On Tue, Oct 15, 2013 at 12:04 AM, nwoods notifications@github.com wrote:

[2013-10-15 16:47] ekfriis commented on #4
How to commit changes to the softipbus SVN:

[code]

[2013-10-15 20:19] nwoods commented on #4
A few questions on Mathias's behalf:

Can you explain the difference between softipbus and softipbus-forward? I've used softipbus-forward, and I've been scp'ing softipbus to the card every time I recompile it, but I don't actually know when I'm supposed to use it. From the names, it sounds like both need to be running for things to work, but that's not possible.

Also, if we want to include these

[2013-10-15 20:45] ekfriis commented on #4
softipbus and softipbus-forward are separate programs.

softipbus runs a TCP server which reads out the _local_ memory - so this is what needs to run to read memory from the _backend_, if we want to. We have not needed this as a use-case to date.  Sidebar: once we get the ZYNQ chip, we will only need this program, since the Mathias will do magic to make the front end appear as back-end memory.

so

[2013-10-15 21:01] nwoods commented on #4
Are you sure that makefile is actually correct? I changed it to _not_ look
like that and I haven't pushed my changes upstream yet.

On Tue, Oct 15, 2013 at 3:45 PM, Evan K. Friis notifications@github.comwrote:

[2013-10-15 21:58] nwoods commented on #4
Mathias guessed that the problem we were having was due to a bad FPGA configuration and reflashed with the newest available. Unfortunately, around the same time he did that (but before, so we know the flash isn't responsible), JTAG mysteriously stopped working from Ayinger. The light on the JTAG box is green, so the box thinks it's connected, and it worked fine from Mathias's laptop, so the proble

[2013-10-15 22:37] nwoods commented on #4
We got JTAG working on Tapas's laptop (it still needs to be fixed on Ayinger), and tried to read the links. Now when we run `read_uart` and `payload.elf`, xmd now spams the error message

[code]

a few times a second. On the other hand, the `stop` command now actually stops it with no problems. `cli.py` fails in the same way it always did. `softipbus-forward` no longer produces an error message wh

[2013-10-16 07:37] ekfriis opened #22 "Validate instructions on updating BSPs using Xilinx GUI"
See instructions here:

https://github.com/uwcms/cms-calo-layer1/wiki/UsingXilinxGUI

@nwoods or @tsarangi, please give a shot at importing the projects into the workspace - this is the only thing Evan-specific. Once they are imported Mathias' wizardry is unleashed.

This is low priority.

[2013-10-16 07:40] ekfriis opened #23 "Document how to recover from Xilinx "JTAG Cable not Found" error"
Hi @jtikalsky, can you put on the wiki [1] instructions on how to recover from the JTAG cable driver getting wedged on ayinger/spaten so Nate/Tapas can fix it when you aren't around?

Do you know what causes the problem?

cc @nwoods @tsarangi

[1] https://github.com/uwcms/cms-calo-layer1/wiki

[2013-10-16 07:46] ekfriis commented on #4
@jtikalsky  is the only one that knows the black art of fixing the JTAG, I asked her to document it in #23

If you are getting any partial transaction on the FE, that tells me you are getting something transmitted across the UART successfully.  Can you try reducing the LOG_LEVEL to 2 (INFO only) and running again?  It may be that it times out because writing the DEBUG output to the XMD console is

[2013-10-16 08:21] ekfriis commented on #21
@pklabbers has fixed this.  It gives the expected (slightly strange) output now:

[code]

Running `cat /var/log/clock_init.log` on the CTP6 shows that the clocks are now configured correctly:

[code]

Thanks Pam!!

[2013-10-16 08:21] #21 closed, assigned to nobody

[2013-10-16 09:19] ekfriis commented on #23
I am now stuck on the same problem at 904.  I've reran:

[code]

which tells me

[code]

So now I am looking for an SLC fxload to install.  Maybe these links [1,2] will help.

[1] https://www.wrbishop.com/fpga/how-to-configure-xilinx-fpga-design-suite-13-3-under-rhelcentos-6-x-fedora-15/
[2] http://scientificlinuxforum.org/index.php?showtopic=2185

[2013-10-16 09:41] ekfriis commented on #23
I installed `fxload` by downloading the RPM from here [1].  The final instructions that made it work again are:

[code]

@jtikalsky can you confirm this is a sane procedure? if so I will put it on the twiki.  @pklabbers - can these steps get added to quattor?

[1] http://pkgs.org/centos-5-rhel-5/atrpms-x86_64/fxload-2008_10_13-2.el5.x86_64.rpm.html

[2013-10-16 09:52] ekfriis commented on #4
I got our cable working, I put the steps that I followed in #23

[2013-10-16 12:19] ekfriis commented on #10
FYI, as of 0510ef9 I've added the bitfiles to the repo (in bitfiles/orsc), and added a target.  If you run

[code]

it will install the bitfiles on the back and front end.

[2013-10-16 13:46] ekfriis commented on #4
Hi @nwoods, can you make sure any changes you have made are commited and pull-requested, and then document the most-correct steps to date?  Pam can try doing it at 904.

[2013-10-16 14:04] ekfriis commented on #8
Note - at 904, the VME PC connected to the upper crate is l1ts-rct-02.  You need to set

[code]

for vmedia to work.

[2013-10-16 15:02] ekfriis commented on #23
Our cable stopped working after I unplugged it. This was due to Quattor erasing /sbin/fxload (how rude).  Could something similar be happening at Chamberlin via puppet? We are working to get it into the Quattor profile here.

[2013-10-16 15:29] ekfriis opened #24 "oRSC Locks up VME"
We (@dabelknap and @pklabbers and @mcepeda) are trying to write to a single address from the VME PC and read it out of the oRSC backend via XMD.

We use a very old tool called `vmedia` which gives you a console which lets you peek/poke into vmedia.   Steps to do this, following [1]:
1. connect to ayinger (this has the VME PC)
2. get the latest cms-calo-layer1 (maybe create a fresh area)
3. "make o

[2013-10-16 16:21] nwoods commented on #4
I'm going to attempt to fix the blocking error in the FE code. Is the loop
in question in `read_uart` or in `payload`?

On Wed, Oct 16, 2013 at 8:46 AM, Evan K. Friis notifications@github.comwrote:

[2013-10-16 16:40] ekfriis commented on #4
Which blocking error? And what is read_uart or payload?  read_uart is an
XMD command - payload is the name of the generated file, right?

On Wed, Oct 16, 2013 at 6:21 PM, nwoods notifications@github.com wrote:

[2013-10-16 16:45] nwoods commented on #4
Ah, that answers my question. I thought that `read_uart` was something that you wrote. By blocking error, I mean the (possible) problem that the FE software is getting stuck in a loop waiting for the end of a fake/broken/erroneous packet. Mathias said he talked to you about this?

[2013-10-16 16:48] ekfriis commented on #4
Yes - but don't fix this now!  The symptom of this is thing not being started correctly/one end crashing, which means you have to restart all the pieces [see this comment https://github.com/uwcms/cms-calo-layer1/issues/4#issuecomment-26398597] before things will work again.

You should be able to make it work at least once (i.e. by getting everything going so no bad packets are sent)  The fix on h

[2013-10-16 16:49] ekfriis commented on #4
(That being said, adding this feature will be an excellent improvement and a very good opportunity to get your hands dirty, but let's get it working first)

[2013-10-16 17:47] nwoods commented on #4
With the most recent versions of everything, the link test fails with the message

[code]

`softipbus-forward` says nothing, even though it's compiled with log level 3.

Meanwhile, when `payload.elf` is run, it gives the message

[code]

It spams that partial transaction method forever regardless of whether or not `softipbus` is running.

[2013-10-16 17:57] ekfriis commented on #4
softipbus-forward should say something with log-level three - please see if
you can figure out why it isn't.

On Wed, Oct 16, 2013 at 7:47 PM, nwoods notifications@github.com wrote:

[2013-10-16 19:08] nwoods commented on #4
Looking at the Makefile for `softipbus` (which is the only thing in there I ever changed, IIRC), it looks like we need separate versions for 904 and Chamberlin, so unless you think my version will work properly there, I'm going to hold off on committing those changes for now.

[2013-10-16 19:15] ekfriis commented on #4
That's fine, what you could do (just for completeness) is do copy paste the
output of `svn diff` in the softipbus.

On Wed, Oct 16, 2013 at 9:08 PM, nwoods notifications@github.com wrote:

[2013-10-16 22:18] tsarangi opened #26 "update issue #4 ... readout link status @ chmbln"
Adding @ekfriis , @nwoods ....

I followed the instructions in issue #4  .

This is where I am stuck and don't know what is going on:

Both 60001 and 60002 ports are open. Both `/tmp/softipbus` and `/tmp/softipbus-forward` are running on the server:

Now, I do a capture from `ctp6commander` using the following command:

`python cli.py --connection ctp6_connections.xml --verbose capture`

Then chec

[2013-10-16 22:26] nwoods commented on #26
For @ekfriis 's benefit, we should mention that the python exception is the same as the one I put in this comment:

https://github.com/uwcms/cms-calo-layer1/issues/4#issuecomment-26441187

This was also done with a different (perhaps older?) version of the softipbus makefile than I'm using, which might account for the difference in verbosity. I looked at the diff but didn't understand it.

[code]

[2013-10-16 22:58] nwoods commented on #26
I just reproduced this with my setup (my versions of the Makefiles and such) and I think we're getting the same thing. My previous comment here is wrong, though: the exception we're getting from Python is now slightly different. Instead of

[code]

we're now getting

[code]

which suggests that the TCP connection works but something is keeping the card from responding correctly.
(@mathiasblake, do

[2013-10-17 08:09] ekfriis commented on #26
First, the python errors from uhal/ASIO are a red-herring - they are the symptom, not the problem.  The problem is that somewhere the data stream is getting corrupted, so the software is getting confused.  If you get stuck on this again, please trace the debug statments through the code and try and insert code to print out the actual data bytes that are being transferred and try to understand them

[2013-10-17 08:15] ekfriis commented on #23
I think the instructions above are sufficient, I added it to the wiki. https://github.com/uwcms/cms-calo-layer1/wiki/Xilinx-SDK-XMD-and-JTAG

[2013-10-17 08:15] #23 closed, assigned to nobody

[2013-10-17 17:40] nwoods commented on #4
I'm not 100% sure, but there may be a cleaner fix to the python version issue contained in the file `cactus/trunk/cactuscore/uhal/pycohal/MANIFEST.in`

[2013-10-17 17:41] ekfriis commented on #4
what python version issue?

[2013-10-17 17:43] nwoods commented on #4
The 2.4 vs 2.6 issues, that had us bending over backwards to install new versions of python, set mysterious python path variables, etc.

[2013-10-17 17:50] ekfriis commented on #4
Ah cool, please post another issue/PR with this.  In any case, as long as
it works, don't worry too much about installing a good python, it will be
obviated when we upgrade to SLC6.

On Thu, Oct 17, 2013 at 7:43 PM, nwoods notifications@github.com wrote:

[2013-10-17 18:06] tsarangi commented on #26
@ekfriis  so, here is the status:

First, the TcpConnectionFailure error was a mistake on my side. The port was not correctly defined. After fixing that, we get back to the same error message that we saw yesterday on the cli.py side (See below). THere are more debug messages on the `sib-for` prompt and in the xmd prompt. Basically, the exact same place that I mentioned in this thread yesterday.

[

[2013-10-17 18:25] ekfriis commented on #26
And this happens even from complete scratch?  The stuff via XMD seems bogus
to me - we should never ask for a NIREAD.

I would:
1. try and use the old version of the python client that we used in August
   (softibpus/scripts/ctp)
2. print out the bytes as they come on the FE by adding debug statements in
   the receive handler [1]

[1]
https://github.com/uwcms/cms-calo-layer1/blob/master/ctp6_fe_u

[2013-10-17 19:10] tsarangi commented on #26
@ekfriis
[2] It does print this line on xmd prompt:
https://github.com/uwcms/cms-calo-layer1/blob/master/ctp6_fe_uart_ipbus/src/uartipbus.c#L84

1970-01-01 00:00:00 | DEBUG | recv 4
1970-01-01 00:00:16 | DEBUG | Processing full transaction
1970-01-01 22:15:28 | DEBUG | Processing transaction 000
1970-01-01 22:16:12 | DEBUG | ==> IPBUS_NIREAD   nwords: 0 @ addr: 0
1970-01-01 00:00:16 | DEBUG | Empt

[2013-10-17 19:17] nwoods commented on #26
When I add a line to give the number that was actually written (as opposed to the event data coming in, which is `recv` up there), the total debug message is:

[code]

I'm not sure what this is telling me, exactly, but I think from the code that this is the "right" thing for it to do, so the problem is likely after this in the pipeline.

We're trying suggestion 1 now.

[2013-10-17 19:24] tsarangi commented on #26
@ekfriis
We tried [1]: used softipbus/scripts/ctp6:

`python scripts/ctp6 --connection etc/ctp6_connections.xml --verbose status`

It failed with the exact same error. Briefly this:

[code]

[2013-10-17 19:53] nwoods commented on #26
At this point I'm relatively confident that TCP is not the problem, so the most likely culprit is a problem with the payload running on FE. @ekfriis, do you agree? I'm afraid I don't understand even a little bit how `payload.elf` is generated, so I'm looking into that now.

[2013-10-17 20:33] nwoods commented on #26
I retract my previous comment, payload seems to work fine. So:
- It's probably not TCP or softipbus because data we send get to FE.
- It's probably not ctp6commander because the old version of the client does exactly the same thing
- It's probably not payload, because receive, write, and send all seem to work correctly (at least, according to payload itself. It may be full of lies)
- It's probably

[2013-10-17 21:25] tsarangi commented on #26
Hi @ekfriis

Where does this line comes from ? I see it in two places, one is in dummyHandler and other in the payload.S which is a objectdump file ?

1970-01-01 22:16:12 | DEBUG | ==> IPBUS_NIREAD   nwords: 0 @ addr: 0

You mentioned that we shouldn't be seeing this line at all. Do we have an expected output in case of a successful test ? or this should be similar to the dummy tests ?

Thanks

[2013-10-17 22:20] tsarangi commented on #26
To add to this "getting long thread"... I have tested `ctp6_fe_uart_echo_test` which I think doesn't depend on the `handler.c` or `IPBUS_NIREAD`. Followed similar methods of testing, `cli.py` still crashes with `TcpconnectionTimeout` error. This is the output on the `xmd` prompt while doing the test.

[code]

[2013-10-18 06:50] nwoods commented on #26
I just tried the same echo test that @tsarangi did and (unsurprisingly) got the same result. It looks to me like the second send is what's failing to get back from FE via TCP. Is is possible that the first send from FE hoses TCP in some way such that we can't do another send? At first I thought this theory was falsified, but it looks like `trigger_code/softipbus/src/transactionhandler.c` has the m

[2013-10-18 06:55] ekfriis commented on #26
I will reply more to the other comments later, but real quick:
1. echo test is not supposed to work w/ sib-forward, or the client.  grep
   for ctp6_fe_uart_echo_test in the README.md
2. /dev/tty is definitely bidirectional

On Fri, Oct 18, 2013 at 8:50 AM, nwoods notifications@github.com wrote:

[2013-10-18 07:30] nwoods commented on #26
I'm going to bed now, but tomorrow after class I'll resume the hunt for
NIREAD, if Tapas hasn't solved the riddle by then. I hunted around for it
enough today that I think I'm close. In the mean time, could you please
explain why NIREAD is the wrong thing, compared to regular read? I found
the code for both but the practical differences were not clear to me, at
least as far as the link test goes.

[2013-10-18 08:31] ekfriis commented on #26
Hi

NIREAD = non-incrementing read.  Reads N words from _a single address_.  This works when that address corresponds to a FIFO, so every time you read it changes to the next value.  We do not have any memory implemented like this on the CTP6.  Regular READ is as you expect - if you ask for N words at address A, it returns the data at addresses [A, A+1, ..., A+N-1].

The fact that we see an NIREAD

[2013-10-18 08:35] ekfriis commented on #9
Done, to be tested.

[2013-10-18 08:35] #9 closed, assigned to dabelknap

[2013-10-18 08:36] ekfriis commented on #6
This is superseded by #10

[2013-10-18 08:36] #6 closed, assigned to nwoods

[2013-10-18 08:38] ekfriis commented on #22
@dabelknap successfully used the instructions on the Windows PC at 904, please ask him if you need help with this in the future.

[2013-10-18 08:38] #22 closed, assigned to nobody

[2013-10-18 08:44] ekfriis commented on #26
Also Nate, what did you change to make it print:

[code]

from https://github.com/uwcms/cms-calo-layer1/issues/26#issuecomment-26540216

Please post the diff when you make changes like this so I can understand exactly what you have done.

[2013-10-18 09:02] ekfriis opened #30 "Address items requested by L1 SW code review"
See https://svnweb.cern.ch/trac/cactus/ticket/376

[2013-10-18 10:05] ekfriis commented on #26
Hi @tsarangi,

Running ./cli.py status --link 1 should be a READ command of 5 status registers, corresponding to banks 0to11 (which containes link #1) from here [1].

For example, 0x600F003C corresponds to the GTRXUnderflowBank00to11 status (which contains a bit for links 0 to 11).

You should see a READ transaction.  The format of the READ transaction packet is here [2], page 5.   So for a 1 word

[2013-10-18 10:12] tsarangi commented on #26
**\* the links problem is fixed

One has to type the interger without the word links in the arguments...
`]$ python cli.py --connection ctp6_connections.xml status 1 --verbose`

`cli.py status links 1` command always fails for me.

[code]

[2013-10-18 11:11] tsarangi commented on #26
@ekfriis
I changed the LOG_DEBUG messages in the ipb transactionhandler and made the same format of uart_ipbus recvHandler as the echo_test.

`LOG_DEBUG("Processing transaction %03x, words: %i addr: %08x", trans_req.id, trans_req.words,  trans_req.data.words[0]);`

running
`python cli.py --connection ctp6_connections.xml status 1 --verbose`

It prints on the xmd prompt:

[code]

[2013-10-18 13:25] nwoods commented on #26
I can't post a proper diff right now as I am computerless for a bit (I'll
post it soon, but maybe not until after class), but the only things I
changed to get those messages were the log level to 3 and to add a line to
the receive method in the payload like `LOG_DEBUG("Data written: %x",
written),`

The rest of those messages aren't mine. I'm not using the --verbose option
in `cli.py` (Tapas is ri

[2013-10-18 13:43] ekfriis commented on #26
Hi,

I think you guys are on the right track with this:

[code]

I suspect the input word which gets parsed is all zeros for some reason.
 Can you change the %i to %d so the #words gets printed out correctly, and
also add fields for type and info [1]?

[1]
https://svnweb.cern.ch/trac/cactus/browser/trunk/cactuscore/softipbus/include/protocol.h#L59

On Fri, Oct 18, 2013 at 3:25 PM, nwoods notificat

[2013-10-18 14:33] ekfriis commented on #26
Hi @nwoods and @tsarangi, can you please put instructions on how to do all the steps on this wiki:

https://github.com/uwcms/cms-calo-layer1/wiki/The-CTP6

So Pam and Maria can try them out?  We can keep this wiki updated as we make progress in debugging things so the best-known procedure is in one place. I think this will make it easier to stay on the same page as these issues are getting long.

[2013-10-18 14:53] dabelknap opened #31 "oRSC FE SPI XIntc_Connect Jumps to Command 'DEADBEEF'"
`orsc_fe_spi_echo_test` is failing when it reaches `XIntc_Connect` in `spiecho.c`. While stepping through `payload.S` with the debugger, I get in `main`:

[code]

`870` is supposed to read `870: 3021ffe0  addik  r1, r1, -32` in `<XIntc_Connect>`.

Using commit dcaef28231

[2013-10-18 15:13] dabelknap commented on #31
@mathiasblake We tried modifying the device ID flags: https://github.com/ekfriis/cms-calo-layer1/blob/interrupts/orsc_fe_spi_echo_test/src/spiecho.c#L23

In `orsc_fe_bsp/microblaze_0/include/xparameters.h`, we have the following options for `INTC_DEVICE_ID` and `SPI_IRPT_INTR`:

[code]

For `SPI_DEVICE_ID`, we tried:

[code]

[2013-10-18 15:29] tsarangi commented on #26
I put DEBUG messages in couple of places. transactionhandler and forwardtransactionhandler...

As you can see, in the forwardtransaction part, it is printing words:1 with type: 0, but that isn't picked up by FE !

sib-for prompt prints this because of forwardtransac...

[code]

xmd prompt prints this

[code]

[2013-10-18 15:54] mathiasblake commented on #31
use XPAR_SPI_0_DEVICE_ID

[2013-10-18 16:08] jtikalsky commented on #4
Apologies, I've been out of the office most of the week.

0.0.0.0 is not an IP you can connect to.  You need to use something
else.  Perhaps you meant 127.0.0.1?

On 10/14/2013 05:04 PM, nwoods wrote:

[2013-10-18 16:10] jtikalsky commented on #4
"Simple"... I suppose it depends on what you consider simple.  You'd
need to take the system.xml and follow the board bringup guide, at least
as far as producing the petalinux_bsp, (you shouldnt need ot produce
fs-boot itself, though it wont hurt).

There are some.. oddities in that process, issues that need to be
corrected along the way.  So I think I'd actually say it's not
particularly simple.

[2013-10-18 16:12] nwoods commented on #4
We've been using 0.0.0.0 for quite a while (always from Ayinger, which
might change it) and it's seemed to work for ssh, etc. The TCP parts of
this seem to be working, so I doubt that's the problem. Happy to be wrong
if it gets fixed, of course...

On Fri, Oct 18, 2013 at 11:08 AM, jtikalsky notifications@github.comwrote:

[2013-10-18 16:13] jtikalsky commented on #23
This is sane.

On 10/16/2013 04:41 AM, Evan K. Friis wrote:

[2013-10-18 16:19] jtikalsky commented on #4
I can't say you're WRONG, but connecting to 0.0.0.0 is really Not
something that should work.

0.0.0.0 is the special case address for 'listen on all addresses'.  It's
not an address a system should normally be expected to respond to.

If you want to forward port 60002 on your system to 60002 on the card,
127.0.0.1 is the proper IP address for this.  "-L60002:127.0.0.1:60002
translates to "Take co

[2013-10-18 16:20] jtikalsky commented on #21
This output is fine.  When I wrote this script, I didn't have any data
on what the status register codes that were valid are.  If 11 is good,
feel free to add it to the python script as 'expected', but the warning
at the end of that script has no strong meaning, given this.

On 10/16/2013 03:21 AM, Evan K. Friis wrote:

[2013-10-18 17:06] ekfriis commented on #4
Hmm, maybe this is the root of all our problems :) @nwoods, maybe 127.0.0.1
will help.  Although I think that this probably isn't the type of thing to
fail half-way.

Jes, we can compile correctly with a non-specific install of petalinux now.
 We jsut hardcode the path to mb-gcc in.  I think this is fine, even for
the long term, so no painful X-forwarded-over-the-atlantic :).

Thanks

Evan

On Fri

[2013-10-18 17:36] tsarangi commented on #4
@ekfriis
0.0.0.0 isn't the issue. changing it to 127.0.0.1 produces the same error as we have been discussing.

[2013-10-18 22:17] tsarangi commented on #26
Hi @ekfriis
Here is a
- STATUS REPORT

We commented out the interruptHandler in SendHandler.
https://github.com/uwcms/cms-calo-layer1/blob/master/ctp6_fe_uart_ipbus/src/uartipbus.c#L57
https://github.com/uwcms/cms-calo-layer1/blob/master/ctp6_fe_uart_ipbus/src/uartipbus.c#L74

That fixed the `IPBUS_NIREAD` to `IPBUS_READ`. It also started to show us multiple transaction on the `xmd` prompt.

Then

[2013-10-19 16:48] ekfriis commented on #26
Hi @tsarangi,

The swapbytes is a part of the IPBus endianness detection scheme.  Basically, the "header" packet, which comes before any transaction packets, always starts with 0x2 and ends with 0xF.  This allows you to detect the endianness of the client system.  The IPBus spec requires that the server respect this endianness.  So basically the byte is there to detect if the client has opposite e

[2013-10-21 08:25] dabelknap commented on #31
That is what I am using currently, but it is still giving me trouble.

[2013-10-21 08:46] ekfriis commented on #31
Mathias,

did a bunch of program space w/ values DEADBEEF (looks like it is padding
the end) make sense to you?  Is this just crap tacked on in the empty space
by GCC?

On Mon, Oct 21, 2013 at 10:25 AM, Austin Belknap
notifications@github.comwrote:

[2013-10-21 08:48] dabelknap commented on #31
It would make more sense to me if its address within `payload.S` was not within the address space of the program.

[2013-10-21 12:38] ekfriis commented on #26
Hi Tapas,

Can you commit your changes (DEBUG output + interrupt handler fixes) to softipbus SVN and a cms-calo-layer1 PR so I can play with them too?

[2013-10-21 15:35] ekfriis commented on #26
One clue:

I am messing around with it here, and I get that my FE payload will stall unless I put debug output between each of the UART setup steps.  I am wondering if we need some sleeps between each step.

[2013-10-21 15:36] ekfriis commented on #31
Can you check what happens if you never allocate the spi_stream?

[2013-10-22 12:15] dabelknap commented on #31
With `spi_stream` related lines commented out, the test reaches "Serve forever".

[2013-10-22 12:16] ekfriis commented on #31
Can you look for a "heap size" in the lscript.ld?  I think this is a
configurable parameter.

On Tue, Oct 22, 2013 at 2:15 PM, Austin Belknap notifications@github.comwrote:

[2013-10-22 12:18] dabelknap commented on #31
The lines having to do with heap are

[code]

[2013-10-22 12:19] dabelknap commented on #31
Also,

[code]

[2013-10-22 12:20] ekfriis commented on #31
OK, so we only have 0x400 = 1024 bytes of space on the heap!  Can you try
quadrupaling the HEAP_SIZE?  This might work, or jus crash, depending on
the physical size of the memory.

On Tue, Oct 22, 2013 at 2:19 PM, Austin Belknap notifications@github.comwrote:

[2013-10-22 12:23] dabelknap commented on #31
I first tried doubling it, and I got `overflowed by 8 bytes` when compiling.

[2013-10-22 12:25] ekfriis commented on #31
OK hopefully an update from Mathias will give us more memory.

On Tue, Oct 22, 2013 at 2:23 PM, Austin Belknap notifications@github.comwrote:

[2013-10-22 15:07] ekfriis commented on #31
Hi Austin,

check out this commit 784f61a9d963499d36f2014fff891010a4481b19, in the
un-merged #33.  This adds a feature to write a flag at a specific memory
address (0x10008000) that you can then read in xmd by doing

mrd 0x10008000

This way we can turn of the printouts (LOG_LEVEL=0) so there is no chance
the UART is fucking things up.

Can you try seeing if you still get a crash at the same point

[2013-10-22 15:46] dabelknap commented on #31
When I run `mrd 0x10008000` before running, it returns `00000003`. It shows the same after `rst/stop`. `DEADBEEF` problem is still there.

[2013-10-22 15:47] ekfriis commented on #31
Can you fix it by commenting out the memory allocations etc?

On Tue, Oct 22, 2013 at 5:46 PM, Austin Belknap notifications@github.comwrote:

[2013-10-22 16:15] dabelknap commented on #31
w/out SPI it seems to run fine.

[2013-10-22 16:53] ekfriis commented on #31
I suspect this is due to a lack of heap issue.  If this doesn't solve it I will reopen.

[2013-10-22 16:53] #31 closed, assigned to nobody

[2013-10-22 16:58] ekfriis opened #35 "Can't make blinky lights on oRSC"
With the current FE oRSC bitfile, we can't make the LEDs light up via direct XMD writes.  See the Makefile [1] for the xmd commands, or the instructions below.

Once should be able to (on a machine connected to oRSC via XMD):

[code]

Expected behavior: lights go on and off
Actual behavior: lights stay off

[1] https://github.com/uwcms/cms-calo-layer1/blob/master/rct2orsc_byhand/Makefile#L42

[2013-10-22 17:20] nwoods commented on #24
ORSC is connected to Spaten, not Ayinger, and its JTAG cable can only reach Spaten, so we'll have to use that.

Also, ORSC is in the top crate, not the bottom crate. The RCTAtChamberlin twiki agrees that we should use `CAEN_LINK=1`, but when I do that, it just says that VME can't connect.

With those caveats: using `CAEN_LINK=0`, I reproduce your error:

[code]

[2013-10-22 17:23] ekfriis commented on #24
Did you flash the newer bitfile? (fpga -f)?  Are the lights till blinky?

You need to be very sure about what CAEN_LINK you pointing to otherwise you
will waste your time - maybe see if the behavior changes if you unplug the
fiber going into non-oRSC crate.

On Tue, Oct 22, 2013 at 7:20 PM, nwoods notifications@github.com wrote:

[2013-10-23 07:18] ekfriis commented on #35
Private email from Mathias:

[2013-10-23 09:41] dabelknap commented on #24
I tried the following procedure on the oRSC at 904 with the October 22 bitfiles provided by @mathiasblake. (Using commit 8a52788)

[code]

After running `poke`, the CAEN controller was showing the correct `1010 0101 1010 0101` pattern, and `BERR` was red (see image below).
![img_0165](https://f.cloud.github.com/assets/1830592/1388791/03a5966a-3bc7-11e3-9dd9-9beefa06a548.jpg)

[2013-10-23 09:49] ekfriis commented on #24
NB the CAEN_LINK environment variable will not necessarily be the same at
Chamberlin!

On Wed, Oct 23, 2013 at 11:41 AM, Austin Belknap
notifications@github.comwrote:

[2013-10-23 10:21] dabelknap commented on #35
`make orscbebits` needs to be run before the LEDs can be controlled.

[2013-10-23 13:46] ekfriis commented on #35
Hooray, the lights blink!  Thanks Austin

[2013-10-23 13:46] #35 closed, assigned to nobody

[2013-10-23 13:57] ekfriis commented on #26
OK.  I think it is working now!  I can readout the status at both 904 and Chamberlin!

@tsarangi, can you create a new area, with fresh installs of softipbus, ctp6commander, and cms-calo-layer1?  Please don't change your current setup!  Then once you get it working, you can diff to your previous broken area and we can confirm the change that fixed it.  Here is what I think changed:
1. uploaded the

[2013-10-23 13:58] ekfriis commented on #4
I think we are reaching a conclusion in the monster successor of this monster thread, see https://github.com/uwcms/cms-calo-layer1/issues/26#issuecomment-26906699

[2013-10-23 13:58] #4 closed, assigned to nwoods

[2013-10-23 13:59] ekfriis commented on #26
Oops, forgot that I made a simplified documentation here:

https://github.com/uwcms/cms-calo-layer1/wiki/The-CTP6

Please try following it. I also made new makefile targets for getting things running on the backend, which should make life a bit easier.

[2013-10-23 14:16] dabelknap commented on #24
@mathiasblake With the October 22 bitfiles, `caenRCTBoot` is unable to boot the cards. Booting works with the  default bitfiles (the ones Tom placed on the oRSC).
- w/ Oct 22 bitfiles:

[code]
- w/ default bitfiles:

[code]

[2013-10-23 14:37] ekfriis commented on #26
Also, I had to set swapbytes back to zero (076566b1cb5784151dff3e2f88ec94410c77e1d6).

[2013-10-23 15:21] ekfriis commented on #24
cc @mathiasblake @pklabbers

More data points:

If we caenRCTBoot the crate, with Tom's bitfiles, we can write/read from VME addresses on the receiver cards:

[code]

(this is successfull)

Now if I upload the new oRSC bitfiles (`make orscbitfiles`), I can still poke and dump w/o VME crashing. (note I _cannot_ run caenRCTBoot, it will crash), but get strange behavior:

[code]

So now it is always

[2013-10-23 16:41] tsarangi commented on #26
Confirming... it doesn't give any error anymore... This is the output it shows on the `cli.py` prompt:

[code]

[2013-10-23 17:12] ekfriis commented on #26
Fantastic.  I am closing this epic thread :)

[2013-10-23 17:12] #26 closed, assigned to nobody

[2013-10-30 10:09] dabelknap opened #42 "VMEStream Echo Test"
@tsarangi @nwoods
The VMEStream executable `vme2fd` needs to be tested with the hardware. A description of the usage of `vm2fd` is in the Wiki: https://github.com/uwcms/cms-calo-layer1/wiki/The-oRSC#vmestream.

The `vmestream_echo_test` runs on the oRSC back-end: https://github.com/dabelknap/cms-calo-layer1/tree/master/orsc_be_vmestream_echo_test. It takes data from VME (sent from `vme2fd`) and re

[2013-10-30 10:27] ekfriis commented on #42
@nwoods @tsarangi you should be able to test this at Chamberlin once
Mathias gives you a VME enabled BE bitfile

On Wed, Oct 30, 2013 at 11:09 AM, Austin Belknap
notifications@github.comwrote:

[2013-10-31 09:39] dabelknap commented on #24
@ekfriis @mathiasblake
I just tried the Oct 31 BE bit file at 904. The crate is unable to boot:

[code]

Poking with vmedia doesn't work either:

[code]

The errors only occur if I flash the BE bitfile.

[2013-10-31 09:53] ekfriis commented on #24
@pklabbers, are you at 904? can you try cycling the crate?  maybe the
caenRCTBoot is messing up the oRSC - Austin, can you try doing the vmedia
check before you run caenRCTBoot?

On Thu, Oct 31, 2013 at 10:39 AM, Austin Belknap
notifications@github.comwrote:

[2013-10-31 09:54] dabelknap commented on #24
We are both at 904 now, actually. We did try cycling the crate.

[2013-10-31 09:58] ekfriis commented on #24
Does the DTK light come on like before?

On Thu, Oct 31, 2013 at 10:54 AM, Austin Belknap
notifications@github.comwrote:

[2013-10-31 10:03] dabelknap commented on #24
DTK lights is on for both `caenRCTBoot` and the `vmedia` test.

[2013-10-31 10:10] ekfriis commented on #24
Any other lights?  Before it was only DTK.

On Thu, Oct 31, 2013 at 11:03 AM, Austin Belknap
notifications@github.comwrote:

[2013-10-31 10:18] dabelknap commented on #24
IRQ2 is on also.

[2013-10-31 10:20] pklabbers commented on #24
IRQ2 is normal after a power cycle or VME Reset.  The cards need to be programmed again.

[2013-11-01 09:17] dabelknap commented on #24
@mathiasblake
With the latest BE bitfile (the one posted at Oct 31 14:24), booting the crates seems to work fine:

[code]

Writing to VME memory seems to be fine as well, but I get an error when I attempt to read it.

[code]

I just saw Evan's email about this, so I guess he saw the same thing.

[2013-11-01 15:04] mathiasblake commented on #24
You are not reading from a valid read address.

On Nov 1, 2013, at 4:17 AM, Austin Belknap notifications@github.com wrote:

[2013-11-01 15:16] dabelknap commented on #24
Ah, okay, thanks. I neglected the base address. Although, I am not sure why the value I am writing is getting truncated.

[code]

[2013-11-01 18:18] ekfriis commented on #24
ghost evan from beyond the grave says that he thinks you should use lpoke,
ask pam

On Fri, Nov 1, 2013 at 4:16 PM, Austin Belknap notifications@github.comwrote:

[2013-11-01 18:24] tsarangi commented on #24
@ekfriis
ghost Evan seems not enjoying the after death silence, waiting eagerly for the reincarnation... :)

[2013-11-01 19:14] dabelknap commented on #24
@ZombieEvan I already tried `lpoke`, but it only put more zeros on the return value.

[2013-11-01 19:24] mathiasblake commented on #24
Austin,

The addresses from my email need to be shifted left by 1 bit in order to work.  Try doing a peek at addr 0x2000

-Mathias

On Nov 1, 2013, at 2:14 PM, Austin Belknap notifications@github.com wrote:

[2013-11-01 21:56] dabelknap commented on #24
@mathiasblake Can you give me an example `vmedia` session that I can try to reproduce? It doesn't make sense to me why the addresses should be shifted by 1 bit.

[2013-11-06 13:55] dabelknap commented on #24
@mathiasblake, I tried shifting the bit, but I am still having problems:

[code]

[2013-11-06 13:56] dabelknap commented on #24
Also, once this issue gets sorted out, I can start testing the VMEPC/oRSC interface on the hardware.

[2013-11-06 15:27] mathiasblake commented on #24
Hi Austin,

You are still reading and writing from the wrong addresses:

for VME you can WRITE to the following ranges:
0x0 - 0xffe
0x1000 - 0x1ffe

for VME you can READ from the following ranges:
0x2000 - 0x2ffe
0x3000 - 0x3ffe

example:

vmedia poke 1 0 abcd
xmd mrd 0x10000000  When you do this read you should see 0xabcd

xmd mwr 0x10001000 0x1234
vmedia dump 1 2000  when you do this dump you sh

[2013-11-06 15:41] dabelknap commented on #24
Thanks! This is what I needed. I remember you mentioning something about this at the meeting, but is the bit-shifting of the addresses for `vmedia` only, or do I need to do this in general?

[2013-11-06 15:53] mathiasblake commented on #24
That I am not sure about.  You’ll have to just give it a try and see.  I suspect you will, but I can’t be certain.

-Mathias

On Nov 6, 2013, at 9:41 AM, Austin Belknap notifications@github.com wrote:

[2013-11-07 10:26] dabelknap commented on #24
It would appear that the VMEController class I am using requires the bit-shifted addresses. The trouble I am having is that it will only accept `cvD16` (rather than `cvD32`) for the datawidth. So, `poke` works fine, but `lpoke` does not.

[code]

Were we planning on using 32-bit words, or is this not the case?

[2013-11-07 16:10] mathiasblake commented on #24
The VME interface in the RCT is 16-bit.

On Nov 7, 2013, at 4:26 AM, Austin Belknap notifications@github.com wrote:

[2013-11-07 16:12] dabelknap commented on #24
Okay, so I should probably be using `uint16_t` for data buffers?

Originally, I was using `uint32_t` for everything. I'm not sure how difficult it will be to make the conversion.

[2013-11-08 10:48] dabelknap commented on #24
@mathiasblake
@pklabbers
Actually, I think making the switch to 16-bit shouldn't be a problem. At this point I can read/write single words between VME and the oRSC just fine.

I am having some difficultly finding the correct way to transfer a buffer of words across VME. I could try a VME multiwrite and write the words to consecutive addresses. However, I need to know what the step-size of the VME

[2013-11-13 12:20] dabelknap commented on #24
Since VME read/write and block read/write appear to be working, I will close this issue. Thanks!

[2013-11-13 12:20] #24 closed, assigned to nobody

[2013-11-13 15:56] dabelknap commented on #42
I have started working on the echo test w/ the latest VME RAM definitions. Single read/write and block read/write operations work fine. However, as `vme2fd` loops, the value of the size registers somehow become corrupted. Haven't determined the cause yet.

[2013-11-13 16:45] dabelknap commented on #42
@mathiasblake
@pklabbers
Do you know if repeated (identical) VME read/write operations can cause corruption to the data stored in the RAM or the registers? In `vme2fd`, the values of the registers and the RAM seem to be fine for a few loops. Somehow, one of the registers gets set to 0xffff during a CAEN read/write operation (I'm not sure which). This causes a segmentation fault since the value of

[2013-11-13 18:31] pklabbers commented on #42
I haven't seen such a problem on the RCT's registers or accessing the LUTs (memory chips for the RCT).  Could the
VME be accessing something else in the crate?  The RCT cards VME LEDs blink if they are accessed, the 0xFFFF looks like what one gets if one trys to read out a LUT without settting a card in read mode first.

[2013-11-13 19:10] pklabbers commented on #42
I had a thought - is the RCT crate booted?  Could it be that you are accessing unprogrammed RCT cards.  I cannot vouch for their good behavior if their VME addresses haven't been set up properly in a "caenRCTBoot".

[2013-11-13 22:31] dabelknap commented on #42
Yes, I tried booting the crate and problem persists. Also, the addresses I am accessing are on the oRSC.

[2013-11-14 13:31] dabelknap commented on #42
I think the problem is more nefarious than I originally thought. I wrote a skeleton version of `vme2fd` and slowly added in components bit-by-bit. Everything works fine until I initialize a `VMEStream` struct: then, the corrupted register problem appears. It might not be a VME problem, but rather a compiler/UNIX issue.

[2013-11-14 14:28] dabelknap commented on #42
I just created an example that reproduces the problem. If you would like to have a look, it is located here: https://gist.github.com/dabelknap/7467516. It turns out that VMEStream wasn't the cause after all.

[2013-11-15 09:20] dabelknap commented on #42
I have also tried power-cycling the crate, and this didn't help either.

[2015-03-19 05:51] #42 closed